body {
    font-family: 'Roboto', sans-serif;
}

.space {
    height: 5em;
}

.headerr {
    box-shadow: 1px 0px 3px #000;
    top: 0px;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.contact {
    background-color: #222;
    color: #fff;
}

.tel {
    font-size: 0.9em
}

.iconsMenu {
    position: fixed;
    left: 0em;
    width: 50px;
    z-index: 1000;
    padding: 2em;
    background-color: #222;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.icon {
    position: relative;
    right: 1.4em;
}

.btnHid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: #222;
    width:10px;
}

.backFront{
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    left: 4px;
}