body{
    font-family:'Roboto', sans-serif;
}

.space{
    height:5em;
}

.headerr {
    box-shadow: 1px 0px 3px #000;
    top: 0px;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.contact{
    background-color: #222;
    color: #fff;
}

.tel{
    font-size: 0.8em
}